<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zcx.blog.mapper.NoticeMapper" >
    <resultMap id="BaseResultMap" type="com.zcx.blog.entity.Notice" >
        <id column="notice_id" property="noticeId" jdbcType="INTEGER" />
        <result column="notice_title" property="noticeTitle" jdbcType="VARCHAR" />
        <result column="notice_content" property="noticeContent" jdbcType="VARCHAR" />
        <result column="notice_create_time" property="noticeCreateTime" jdbcType="TIMESTAMP" />
        <result column="notice_update_time" property="noticeUpdateTime" jdbcType="TIMESTAMP" />
        <result column="notice_status" property="noticeStatus" jdbcType="INTEGER" />
        <result column="notice_order" property="noticeOrder" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Base_Column_List" >
    notice_id, notice_title, notice_content, notice_create_time, notice_update_time,
    notice_status, notice_order
  </sql>

    <sql id="tb">notice</sql>

    <!--获取公告列表-->
    <select id="listNotice" resultType="com.zcx.blog.entity.Notice">
        SELECT
        <include refid="Base_Column_List"/>
        FROM  <include refid="tb"/>
        <where>
            <if test="status!=null">
                notice_status=#{status}
            </if>
        </where>
        ORDER BY notice_status ASC, notice_order DESC, notice_id ASC
    </select>


</mapper>